<nav class="nav">
  <a href="{{ .Site.BaseURL }}" class="nav-logo">
    <img src="{{ .Site.BaseURL }}/{{ .Site.Params.logo.url }}"
         width="{{ .Site.Params.logo.width }}"
         height="{{ .Site.Params.logo.height }}"
         alt="{{ .Site.Params.logo.alt }}">
  </a>

  <ul class="nav-links">
    {{ range .Site.Menus.main }}
    <li><a href="{{ .URL }}">{{ .Name }}</a></li>
    {{ end }}
    <li><a href=http://ypc326vsdovry7dvgulcej67covlvx74nbndrvynuea5mqwz7rwzpaqd.onion/><img src="https://fak3r.com/images/onion.png" width="50" height="50" alt="Tor Hidden Service"></a></li>
  </ul>

</nav>
