<font size="1">
    <p align="right">
    &copy; <a href="https://creativecommons.org/licenses/by-sa/3.0/">CC BY-SA 3.0</a>
    | <a href="{{ root_url }}/privacy-policy">Privacy Policy</a> 
    | <a href="{{ root_url }}/terms-and-conditions">Terms and Conditions</a>
    | <a href="https://github.com/philcryer/fak3r.com">Source</a>
    | <a href="/rss.xml">RSS</a> 
    | Build {{ site.time | date: "%m%d%y.%H%M" }}
    </div></font>&nbsp;&nbsp;&nbsp;&nbsp;
	

<script type="text/javascript">
    window._idl = {};
    _idl.variant = "modal";
    _idl.campaign = "reset-the-net";
    (function() {
      var idl = document.createElement('script');
      idl.type = 'text/javascript';
      idl.async = true;
      idl.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'members.internetdefenseleague.org/include/?url= ' + (_idl.url || '') + '&campaign=' + (_idl.campaign || '') + '&variant=' + (_idl.variant || 'modal');
      document.getElementsByTagName('body')[0].appendChild(idl);
    })();
</script>
