---
import Layout from '../layouts/Page.astro';
---

<Layout
	title="Search"
	description="There's a lot to discover since we started in 2005"
	pubDate={new Date('August 08 2021')}
>

<br />
<!--<div align="center">-->
<iframe src="https://duckduckgo.com/search.html?width=408&duck=yes&site=fak3r.com&focus=yes" style="overflow:hidden;margin:0;padding:0;width:541px;height:60px;" ></iframe>
<p>Search functionality provided by <a href="https://duckduckgo.com">DuckDuckGo</a> </p>
<!--</div>-->

</Layout>
