@font-face {
  font-family: 'Merriweather';
  font-style: normal;
  font-weight: 400;
  src: local('Merriweather Regular'), local('Merriweather-Regular'), url(/css/u-440qyriQwlOrhSvowK_l5-fCZJ.ttf) format('truetype');
}
