#pagination
  a
    display block
    padding 5px 10px
    background color-border
    color color-meta
    font-family font-title
    text-shadow 0 0 1px #fff
    margin 10px 0
    &:hover
      background color-link
      color #fff
      text-decoration none
      text-shadow none
  .prev 
    .fa 
      margin-right 5px
  .next
    .fa 
      margin-left 5px



#cover
  height 250px
  background color-base
  text-align center 
  center fixed
  -moz-background-size cover
  -webkit-background-size cover
  -o-background-size cover
  background-size cover
  #profile
    padding-top 60px
    a
      font-size 18px
      color #333
      text-transform uppercase
    .logo
      margin-bottom 10px
      img
        -webkit-border-radius 50%
        border-radius 50%
        -moz-border-radius: 50%
        -webkit-border-radius 50%
        width 100px
        height 100px
        box-shadow 0 0 1px #fff
    .my-socials
      display inline-block
      list-style none
      margin 0 auto
      li
        float left
        width 30px
        margin 5px
        a
          background indianred
          text-decoration none
          display block
          text-align center
          width 30px
          height 30px
          border-radius 30px
          color #fff
          &:hover
            color #fff
            box-shadow 0 0 10px rgba(0, 0, 0, 0.5)
        .weibo
          background-color #E20021
        .github
          background-color #333333
        .twitter
          background-color #00b6f3
        .email
          background-color #ffd700
        i
          font-size 18px
          font-style normal
          line-height 30px
          margin 0